{% extends 'Frontend/base.html.twig' %}


{% block title %} Gestion des évènements{% endblock %}

{% block content %}
    <div class="vertical-space-85"></div>
    <div class="vertical-space-85"></div>
    <h1>Event index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nom }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>{{ event.lieu }}</td>
                <td>
                    <a style="color: black" href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a style="color: black" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a style="color: black" href="{{ path('event_new') }}">Create new</a>
{% endblock %}
