{% extends 'Frontend/base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block content %}
    {% if is_granted('ROLE_RECRUTEUR') %}
    <h1>Categorie index</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Categorie d'emploi</h4>
                        <p class="card-category"> Table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>NomCategorie</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for categorie in categories %}
                                    <tr>
                                        <td>{{ categorie.id }}</td>
                                        <td>{{ categorie.NomCategorie }}</td>
                                        <td class="hidden-xs center">
                                            <a href="{{ path('categorie_front_show', {'id': categorie.id}) }}"><button class="btn btn-warning">show</button></a>
                                        </td>
                                        <td class="hidden-xs center">
                                            <a href="{{ path('categorie_front_edit', {'id': categorie.id}) }}"><button class="btn btn-warning">edit</button></a>
                                        </td>
                                        <td class="hidden-xs center">
                                            <a href="{{ path('categorie_front_delete', {'id': categorie.id}) }}"><button class="btn btn-warning">delete</button></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <td class="hidden-xs center">
                            <a href="{{ path('categorie_front_new') }}"><button class="btn btn-warning">Create new</button></a>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1>You don't have access</h1>
    {% endif %}
{% endblock %}
