{% extends 'Backend/base.html.twig' %}


{% block content %}

    {% set nbuser=0 %}
    {% set nbrecruteur=0 %}
    {% set nbformateur=0 %}
    {% set nbfemme=0 %}
    {% set nbhomme=0 %}
     <table class="table">
         <tr> <h1>Statistique des utilisateur</h1></tr>
        <tr>
            <td>Nombre des utilisateurs</td>
            <td>{% for user in users %}
                     {% set nbuser= nbuser + 1 %}
                 {% endfor%}
                 {{ nbuser }}
            </td>
        </tr>
        <tr>
            <td>pourcentage des formateur</td>
            <td> {% for user in users %}
                      {% for role in user.roles %}
                           {% if role == "ROLE_FORMATEUR" %}
                                 {% set nbformateur= nbformateur + 1 %}
                                 {% endif %}
                      {% endfor %}
                 {% endfor %}
                 {% set resultat=(nbformateur*nbuser)/100 %}
                 {{ resultat }}
            </td>
        </tr>
         <tr>
             <td>pourcentage des recruteur</td>
             <td> {% for user in users %}
                     {% for role in user.roles %}
                         {% if role == "ROLE_RECRUTEUR" %}
                             {% set nbrecruteur= nbrecruteur + 1 %}
                         {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {{ (nbrecruteur*nbuser)/100 }}

             </td>
         </tr>
         <tr>
             <td>pourcentage des femmes</td>
             <td> {% for user in users %}
                     {% for sexe in user.sexe %}
                         {% if sexe == 'Femme' %}
                             {% set nbfemme= nbfemme + 1 %}
                         {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {{ nbfemme}}
                 {% set resultat=(nbfemme/nbuser)*100 %}
                 {{ resultat }}
             </td>
         </tr>
         <tr>
             <td>pourcentage des hommes</td>
             <td> {% for user in users %}
                     {% for sexe in user.sexe %}
                         {% if sexe == 'Homme' %}
                             {% set nbhomme= nbhomme + 1 %}
                         {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {{ (nbfemme/nbuser)*100 }}</td>
         </tr>

</table>
{% endblock %}