{% extends 'Backend/base.html.twig' %}


{% block content %}

    {% set nbuser=0 %}
    {% set nbrecruteur=0 %}
    {% set nbformateur=0 %}
    {% set nbfemme=0 %}
    {% set nbhomme=0 %}
     <table class="table">
         <tr> <h1>Statistique des utilisateurs</h1></tr>
         <tr>
             <td>entite</td>
             <td>Nombre</td>
             <td>Poucentage</td>
         </tr>
        <tr>
            <td> utilisateurs</td>
            <td>{% for user in users %}
                     {% set nbuser= nbuser + 1 %}
                 {% endfor%}
                 {{ nbuser }}
            </td>
        </tr>
        <tr>
            <td>formateurs</td>
            <td>{% for user in users %}
                    {% for role in user.roles %}
                        {% if role == "ROLE_FORMATEUR" %}
                            {% set nbformateur= nbformateur + 1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {{ nbformateur }}
            </td>
            <td> 
                 {{ (nbformateur/nbuser)*100 }} %
            </td>
        </tr>
         <tr>
             <td> Recruteurs</td>
             <td>{% for user in users %}
                     {% for role in user.roles %}
                         {% if role == "ROLE_RECRUTEUR" %}
                             {% set nbrecruteur= nbrecruteur + 1 %}
                         {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {{ nbrecruteur }}
             <td>
                 {{ (nbrecruteur/nbuser)*100 }} %

             </td>
         </tr>

         <tr>
             <td>Simple Utilisateur</td>
             <td>
                 {{ (nbuser-nbrecruteur-nbformateur) }}
             <td>
                 {{ ((nbuser-nbrecruteur-nbformateur)/nbuser)*100 }} %

             </td>
         </tr>
         <tr>
             <td>Femmes</td>
             <td> {% for user in users %}
                         {% if user.sexe == "Femme" %}
                             {% set nbfemme= nbfemme + 1 %}
                         {% endif %}
                 {% endfor %}

                 {{ (nbfemme)}}

             </td>
             <td>

                {{ (nbfemme/nbuser)*100 }} %

             </td>
         </tr>
         <tr>
             <td>Hommes</td>
             <td>{% for user in users %}
                     {% if user.sexe == 'Homme' %}
                         {% set nbhomme= nbhomme + 1 %}
                     {% endif %}
                 {% endfor %}
                 {{ nbhomme }}
             </td>
             <td>
                 {{ (nbhomme/nbuser)*100 }}</td>
         </tr>

</table>
{% endblock %}