{#  {{ form_start(form) }}
    {{ form_widget(form) }} #}

{{form_start(form)}}

{{ app.user.nom }}
{{ form_errors(form.id_cours) }}
 {{ form_label(form.id_cours,"choisir un cours")  }}
<br>
 {{ form_widget(form.id_cours,{ 'attr':{'class':'form-control col-lg-6 col-md-6'}}) }}


<br>
<br>

<br>
<br>
<br>
<br>
    <button class="btn">{{ button_label|default('Inscrire') }}</button>
{{ form_end(form) }}

