{% extends 'Frontend/base.html.twig' %}



{% block content %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du Cours</th>
                <td>{{ inscription.getIdCours().getNomCompletCours() }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inscription.getIdUser().getEmail()}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inscription_index') }}"><button class="btn btn-warning">Retour Vers la Liste</button></a>
<br>
    <a href="{{ path('inscription_edit', {'id': inscription.id}) }}"><button class="btn btn-warning">Modifier</button></a>
<br>
    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
