{% extends 'frontendconnected/base.html.twig' %}

{% block content %}
<div class="main-content">

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://www.michalsons.com/wp-content/uploads/2009/07/datadase-e1564732052315.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center ">
            <div class="row">
                <div class="col-lg-25 col-md-10">
                    <h1 class="display-2 text-white">Editer votre profile</h1>
                    <p class="text-white mt-0 mb-5">Utilisateur : {{ app.user.prenom  }}  {{ app.user.nom }}</p>
                    <a href="profile/modifier" class="btn btn-info">Editer votre profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->

    <div class="container-fluid mt--7">
        <div class="grix xs4 container">
             <div class="col-xs4">
                 <h3>Modification du profil de {{ app.user.prenom }} {{ app.user.nom }} </h3>


                     {{ form_start(profileform) }}
                     {{ form_row(profileform.nom) }}
                     {{ form_row(profileform.prenom) }}
                     {{ form_row(profileform.sexe) }}
                     {{ form_row(profileform.image) }}
                     {{ form_row(profileform.lien_fb) }}
                     {{ form_row(profileform.lien_twitter) }}
                     {{ form_row(profileform.lien_linkedin) }}
                     {{ form_row(profileform.datenais) }}
                     {{ form_row(profileform.email) }}
                     {{ form_row(profileform.boulot) }}
                     {{ form_row(profileform.experience) }}
                     {{ form_row(profileform.adress) }}
                     {{ form_row(profileform.discription) }}
                     {{ form_row(profileform.roles) }}

                      <center> <button type="submit" class="btn">Editer</button> </center>

                     {{ form(profileform) }}
             </div>
        </div>
    </div>
</div>

{% endblock %}
