{% extends 'Frontend/base.html.twig' %}



{% block content%}
    Trier <a style="margin-bottom:20px;" href="{{ path("triasc") }}" ><i class="fa fa-arrow-down" aria-hidden="true"></i>    </a>
    <a style="margin-bottom:20px;" href="{{ path("tridesc") }}"><i
                style="margin-right: 10px;" class="fa fa-arrow-up" aria-hidden="true"></i> </a>

    <div style="margin-left: 200px">


        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <center><input type="text" id="search" placeholder="CHERCHER Cours..."></center>
        <div class="row">
            <div class="col-md-12 space20">
                <a class="btn btn-primary pull-left" href="{{path('cours_new')}}">
                    Cours <i class="fa fa-plus"></i></a>
            </div>

        </div>



        <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
            <tr>

                <th class="hidden-xs center" width="20%"><strong>Nom Complet du Cours</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Nom Abrégé Cours</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Date Debut Cours</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Date Fin Cours</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Cours en PDF</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Afficher</strong></th>
                <th class="hidden-xs center" width="20%"><strong>Modifier</strong></th>
            </tr>
            </thead>
            <tbody>
            {% for cour in cours %}
                <tr>

                    <td class="hidden-xs center">{{ cour.NomCompletCours }}</td>
                    <td class="hidden-xs center">{{ cour.NomAbergeCours }}</td>
                    <td class="hidden-xs center">{{ cour.DateDebutCours ? cour.DateDebutCours|date('Y-m-d') : '' }}</td>
                    <td class="hidden-xs center">{{ cour.DateFinCours ? cour.DateFinCours|date('Y-m-d') : '' }}</td>
                    <td class="hidden-xs center"><a href="{{ asset('uploads/' ~ cour.Categorie) }}"><p>Cliquer sur le PDF pdf</p>View brochure (PDF)</a></td>
                    <td class="hidden-xs center">
                        <a href="{{ path('cours_show', {'id': cour.id}) }}"><button class="btn btn-warning">cliquer ici</button></a>
                    </td>
                    <td class="hidden-xs center">
                        <a href="{{ path('cours_edit', {'id': cour.id}) }}"><button class="btn btn-warning">cliquer ici</button></a>
                    </td>
                </tr>
                <script>
                    $(document).ready(function(){
                        $('#search').keyup(function(){
                            search_table($(this).val());
                        });
                        function search_table(value){
                            $('#tableac tbody tr').each(function(){
                                var found = 'false';
                                $(this).each(function(){
                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                    {
                                        found = 'true';
                                    }
                                });
                                if(found == 'true')
                                {
                                    $(this).show();

                                }
                                else
                                {
                                    $(this).hide();

                                }
                            });
                        }
                    });
                </script>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(cours) }}
        </div>
    </div>

{% endblock %}