{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>Cours</title>{% endblock %}

{% block content %}

    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>NomCompletCours</th>
                <td>{{ cour.NomCompletCours }}</td>
            </tr>
            <tr>
                <th>NomAbergeCours</th>
                <td>{{ cour.NomAbergeCours }}</td>
            </tr>
            <tr>
                <th>DateDebutCours</th>
                <td>{{ cour.DateDebutCours ? cour.DateDebutCours|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinCours</th>
                <td>{{ cour.DateFinCours ? cour.DateFinCours|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cours en PDF</th>
                <td>{{ cour.Categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}"><button class="btn btn-warning">Retour Vers la Liste</a>
<br>
    <br>
    <br>
    <a href="{{ path('cours_edit', {'id': cour.id}) }}"><button class="btn btn-warning">Modifier</a>
<br>
    {{ include('cours/_delete_form.html.twig') }}
</div>
{% endblock %}
