{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>CatEvent index</title>{% endblock %}

{% block content %}
    <h1>CatEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_cat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_event in cat_events %}
            <tr>
                <td>{{ cat_event.id }}</td>
                <td>{{ cat_event.nomCat }}</td>
                <td>
                    <a href="{{ path('cat_event_show', {'id': cat_event.id}) }}">show</a>
                    <a href="{{ path('cat_event_edit', {'id': cat_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cat_event_new') }}">Create new</a>
{% endblock %}
