{% extends 'Backend/base.html.twig' %}

{% block title %}Consulter les évènements{% endblock %}

{% block content %}
    <div class="vertical-space-85"></div>
    <div class="vertical-space-85"></div>
    <h1>Event</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ event.nom }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Lieu</th>
            <td>{{ event.lieu }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_event') }}">back to list</a>

    <a href="{{ path('event_edit_admin', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_formback.html.twig') }}
{% endblock %}
